.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.k-mob-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 9;

  &__close {
    display: block;
    position: absolute;
    max-width: 100%;
    top: 20px;
    right: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    padding: 60px 15px 20px 15px;
    background: #FFFFFF;
  }

  &__nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      width: 100%;

      a {
        display: block;
        margin: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 61px;
        text-align: center;
        color: #2F3960;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #3E64FC;
          text-decoration: none;
        }
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin: 40px 0 50px 0;
    padding: 12px;
    background: #3E64FC;
    box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #1242FF;
      box-shadow: none;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;

    a {
      display: inline-block;
      padding: 0 15px 10px 15px;

      img,
      svg {
        max-width: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }
}

.k-header {
  display: block;
  position: relative;
  width: 100%;
  background: #ffffff;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__toggle {
    display: none;
    max-width: 100%;
    padding: 6px 0 6px 15px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.95);
      text-decoration: none;
    }
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        padding: 6px 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: normal;
        color: #2F3960;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #3E64FC;
          text-decoration: none;
        }
      }
    }
  }

  &__more {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__search {
    display: inline-block;
    padding: 6px 15px;

    img {
      max-width: 100%;
    }

    svg {
      max-width: 100%;
      transition: all 0.2s ease-out;

      path {
        transition: all 0.2s ease-out;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      svg path {
        fill: #3E64FC;
        fill-opacity: 1;
      }

      text-decoration: none;
    }
  }

  &__social {
    display: inline-block;
    padding: 6px 15px;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__button {
    display: inline-block;
    padding: 10px 37px;
    background: #3E64FC;
    box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #1242FF;
      box-shadow: none;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.k-home-main {
  display: block;
  position: relative;
  width: 100%;
  padding: 185px 0 155px 0;
  background: url('../images/home_top.jpg') no-repeat center top;
  background-size: cover;

  &__title {
    display: block;
    margin: 0 0 28px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 52px;
    line-height: 41px;
    color: #2F3960;
  }

  &__subtitle {
    display: block;
    margin: 0 0 28px 0;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 11px;
    text-transform: uppercase;
    color: #7681AB;
  }

  ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 20px 0;
    list-style: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #2F3960;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 18px 0;
      padding-left: 25px;
      background: url('../images/assets/icon_list.svg') no-repeat left top;
    }
  }

  &__button {
    display: inline-block;
    margin: 0 26px 10px 0;
    padding: 12px 20px;
    background: #3E64FC;
    box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #1242FF;
      box-shadow: none;
      color: #FFFFFF;
      text-decoration: none;
    }
  }

  &__more {
    display: inline-block;
    margin: 0 20px 10px 0;
    padding: 12px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(12, 43, 124, 0.11);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #3E64FC;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #FFFFFF;
      box-shadow: none;
      color: #3E64FC;
      text-decoration: none;
    }
  }
}

.k-home-title {
  display: block;
  margin: 0 0 70px 0;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 37px;
  text-align: center;
  color: #2F3960;
  text-align: center;
}

.k-home-centered {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.k-home-about {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: #FFFFFF;

  &_margin_bottom {
    margin-bottom: 80px;
  }

  &__image {
    display: block;
    max-width: 100%;
    margin: 10px auto;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 466px;

    &-title {
      display: block;
      margin: 0 0 27px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 19px;
      color: #2F3960;
    }

    &-subtitle {
      display: block;
      margin: 0 0 27px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    &-text {
      display: block;
      margin: 0 0 19px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    &-button {
      display: inline-block;
      padding: 12px 20px;
      background: #3E64FC;
      box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
      border-radius: 999rem;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #1242FF;
        box-shadow: none;
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 12px 0;
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 14px 0;
        padding-left: 25px;
        background: url('../images/assets/icon_list.svg') no-repeat left top 5px;
      }
    }
  }

  &__button {
    display: inline-block;
    min-width: 202px;
    padding: 12px 20px;
    background: #3E64FC;
    box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #1242FF;
      box-shadow: none;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.slick-dotted.slick-slider {
  margin: 0;
}

.k-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 170px 0;
  background: #F0F9FF;

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-dots li button:before {
      display: none;
    }

    .slick-dots li {
      position: relative;
      width: 14px;
      height: 14px;
      border: 1px solid #7681AB;
      border-radius: 999rem;
      background: #7681AB;
      opacity: 0.2;
    }

    .slick-dots .slick-active {
      background: #3E64FC !important;
      opacity: 1 !important;
    }

    .slick-dots {
      width: 100%;
      bottom: -65px;
    }
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 430px;
    height: 465px;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(12, 43, 124, 0.05);
    border-radius: 10px;
    transform: scale(0.98);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .k-home-reviews__card-overlay {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    &-overlay {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 10px;
      z-index: 1;
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }

    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.k-home-blog {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0 50px 0;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 330px;
    margin: 0 0 30px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .k-home-blog__card-image img {
        transform: scale(0.9);
      }

      .k-home-blog__card-title {
        color: #3E64FC;
      }

      text-decoration: none;
    }

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 320px;
      margin: 0 0 38px 0;

      img {
        display: block;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }

    &-what {
      display: block;
      margin: 0 0 2px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 11px;
      text-align: center;
      text-transform: uppercase;
      color: #7681AB;
    }

    &-title {
      display: block;
      margin: 0;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 38px;
      text-align: center;
      color: #2F3960;
      transition: all 0.2s ease-out;
    }
  }
}

.k-home-articles {
  display: block;
  position: relative;
  width: 100%;
  padding: 100px 0;
  background: #F0F9FF;

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding: 0 0 30px 0;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 0 30px 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(12, 43, 124, 0.11);
    border-radius: 10px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &-tag {
      display: inline-block;
      margin: 0 5px 5px 0;
      padding: 6px 10px;
      background: #2D9CDB;
      border-radius: 100px;
      font-style: normal;
      font-weight: bold;
      font-size: 10px;
      text-align: center;
      text-transform: uppercase;
      color: #FFFBFB;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #0FA8FF;
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    &-image {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      height: 285px;
      padding: 15px 10px 10px 15px;
      border-radius: 10px 10px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 30px;
      border-radius: 0 0 10px 10px;
      background: #FFFFFF;
    }

    &-title {
      display: block;
      height: 56px;
      margin: 0;
      overflow: hidden;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      color: #2F3960;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3E64FC;
        text-decoration: none;
      }
    }

    &-text {
      display: block;
      height: 140px;
      margin: 0 0 24px 0;
      overflow: hidden;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    &-link {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #3E64FC;

      img,
      svg {
        display: inline-block;
        margin: 0 0 0 10px;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        img {
          margin-left: 20px;
        }

        color: #3E64FC;
        text-decoration: none;
      }
    }
  }

  &__more {
    display: inline-block;
    border-bottom: 1px dashed #25BE5F;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #25BE5F;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: transparent;
      color: #25BE5F;
      text-decoration: none;
    }
  }
}

.k-bottom {
  display: block;
  position: relative;
  width: 100%;
  padding: 43px 0;
  background: #3ACC6C;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    display: inline-block;
    margin: 10px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    color: #FFFFFF;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    padding: 16px 32px;
    border: 2px solid transparent;
    background: #FFFFFF;
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: #3ACC6C;

    img,
    svg {
      display: inline-block;
      margin: 0 17px 0 0;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background: #3ACC6C;
      border-color: #F0F9FF;
      box-sizing: border-box;
      box-shadow: 0px 10px 20px rgba(12, 43, 124, 0.11);
      color: #FFFFFF;
      text-decoration: none;

      img {
        filter: brightness(0) invert(1);
      }
    }

    &:active {
      border-color: transparent;
    }
  }
}

.k-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 30px 0;
  background: #F4F7FE;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    display: inline-flex;
    align-items: center;
    position: relative;

    img,
    svg {
      display: inline-block;
      margin: 0;
      transition: all 0.2s ease-out;
    }

    &-name {
      display: block;
      margin: 0 0 4px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 12px;
      color: #2F3960;
    }

    &-text {
      display: block;
      margin: 0 0 4px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 9px;
      line-height: 7px;
      letter-spacing: 0.11em;
      text-transform: uppercase;
      color: #7681AB;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {

      img,
      svg {
        transform: scale(0.95);
      }

      text-decoration: none;
    }
  }

  &__link {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 53px;
    color: #3E64FC;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3ACC6C;
      text-decoration: none;
    }
  }

  &__social {
    display: inline-block;
    position: relative;

    a {
      display: inline-block;
      margin: 0 5px 0 15px;

      img,
      svg {
        display: block;
        max-width: 100%;
      }

      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  &__right {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
}

.k-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 0;
  border-top: 1px solid rgba(118, 129, 171, 0.12);
  background: #F4F7FE;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgba(47, 57, 96, 0.6);

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  p {
    display: inline-block;
    margin: 10px 0;
  }
}

.k-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 80px 0;
  background: #F4F7FE;

  &__title {
    display: block;
    margin: 0 0 60px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    color: #2F3960;
  }
}

.k-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: rgba(118, 129, 171, 0.5);

  a {
    display: inline;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #7681AB;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3ACC6C;
      text-decoration: none;
    }
  }

  img,
  svg {
    display: inline-block;
    max-width: 100%;
    margin: 0 20px;
  }
}

.k-price {
  display: block;
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  &__subtitle {
    display: block;
    margin: 0 0 27px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 19px;
    color: #3ACC6C;
  }

  b,
  strong {
    display: inline-block;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #2F3960;
  }

  p {
    display: block;
    max-width: 740px;
    margin: 0 0 38px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2F3960;
  }

  a {
    color: #3ACC6C;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #3E64FC;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    margin: 0;
    padding: 26px 0 24px 0;
    list-style: none;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #2F3960;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 14px 0;
      padding-left: 25px;
      background: url('../images/assets/icon_list.svg') no-repeat left top 5px;
    }
  }
}

.k-types {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 0 0 12px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 276px;
    min-height: 370px;
    margin-bottom: 24px;
    padding: 25px 20px 35px 20px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(12, 43, 124, 0.11);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      .k-types__card-button {
        background: #26CC5F;
        box-shadow: none;
      }

      box-shadow: none;
      text-decoration: none;
    }

    &-image {
      display: block;
      width: 100px;
      height: 100px;
      max-width: 100%;
      margin: 0 auto;
      object-fit: scale-down;
      object-position: center center;
    }

    &-button {
      display: inline-block;
      margin: 10px 0 0 0;
      padding: 10px 37px;
      background: #3ACC6C;
      box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
      border-radius: 999rem;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: normal;
      text-align: center;
      color: #FFFFFF;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background: #26CC5F;
        box-shadow: none;
        color: #FFFFFF;
        text-decoration: none;
      }
    }

    &-title {
      display: block;
      margin: 6px 0 10px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
      color: #3E64FC;
    }

    &-row {
      display: flex;
      align-items: center;
      margin: 0 0 8px 0;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #3E64FC;

      img,
      svg {
        display: inline-block;
        max-width: 100%;
        margin-right: 10px;
      }
    }

    &-price {
      display: block;
      margin: 0 0 5px 0;
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 57px;
      text-align: center;
      color: #3ACC6C;
    }

    &-hot {
      display: flex;
      align-items: center;
      margin: 0 0 20px 0;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 19px;
      text-align: center;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      color: #F3705A;

      img,
      svg {
        display: inline-block;
        margin-right: 8px;
      }
    }
  }
}

.k-filter {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin: 0 0 44px 0;
  padding: 0;
  list-style: none;
  overflow-x: auto;

  &_active {
    a {
      border-color: #3ACC6C !important;
      color: #3ACC6C !important;
    }
  }

  li {
    display: inline-block;

    a {
      display: inline-block;
      margin: 0 44px 0 0;
      border-bottom: 2px solid transparent;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #7681AB;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3ACC6C;
        text-decoration: none;
      }
    }
  }
}

.k-blog {
  display: block;
  position: relative;
  width: 100%;
}

.k-article {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 780px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2F3960;

    p {
      display: block;
      margin: 0 0 60px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    iframe,
    video {
      display: block;
      width: 100%;
      max-width: 780px;
      height: 500px;
      margin: 0 0 60px 0;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 0 60px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      font-style: normal;
      font-weight: 600;
      color: #2F3960;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 12px;
    }

    b,
    strong {
      font-weight: 600;
    }

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 60px 0;
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 30px 0;
        padding-left: 25px;
        background: url('../images/assets/icon_list_2.svg') no-repeat left top 8px;
      }
    }
  }
}

.k-about {
  display: block;
  position: relative;
  width: 100%;

  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 780px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #2F3960;

    p {
      display: block;
      margin: 0 0 60px 0;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    iframe,
    video {
      display: block;
      width: 100%;
      max-width: 780px;
      height: 500px;
      margin: 0 0 60px 0;
    }

    img {
      display: block;
      max-width: 100%;
      margin: 0 0 60px 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 25px 0;
      font-style: normal;
      font-weight: 600;
      color: #2F3960;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 20px;
    }

    h5 {
      font-size: 16px;
    }

    h6 {
      font-size: 12px;
    }

    b,
    strong {
      font-weight: 600;
    }

    ul {
      display: block;
      position: relative;
      margin: 0;
      padding: 0 0 60px 0;
      list-style: none;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;

      li {
        display: block;
        position: relative;
        width: 100%;
        margin: 0 0 24px 0;
        padding-left: 25px;
        background: url('../images/assets/icon_list.svg') no-repeat left top 8px;
      }
    }
  }
}

.k-reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 0 0 40px 0;

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 375px;
    height: 408px;
    margin: 0 0 22px 0;
    padding: 4px;
    background: #FFFFFF;
    box-shadow: 0px 10px 80px rgba(12, 43, 124, 0.11);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .k-reviews__card-overlay {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-image {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }

    &-overlay {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      background: rgba(0, 0, 0, 0.38);
      border-radius: 10px;
      z-index: 1;
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.k-smi {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding: 0 0 40px 0;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 0 23px 0;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(12, 43, 124, 0.11);
    border-radius: 10px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }

    &-image {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-items: flex-end;
      width: 100%;
      height: 225px;
      padding: 15px 10px 10px 15px;
      border-radius: 10px 10px 0 0;
      background-position: center center;
      background-size: cover;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 30px;
      border-radius: 0 0 10px 10px;
      background: #FFFFFF;
    }

    &-title {
      display: block;
      height: 56px;
      margin: 0 0 20px 0;
      overflow: hidden;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #2F3960;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #3E64FC;
        text-decoration: none;
      }
    }

    &-text {
      display: block;
      height: 112px;
      margin: 0 0 24px 0;
      overflow: hidden;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 28px;
      color: #2F3960;
    }

    &-link {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: #3E64FC;

      img,
      svg {
        display: inline-block;
        margin: 0 0 0 10px;
        transition: all 0.2s ease-out;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        img {
          margin-left: 20px;
        }

        color: #3E64FC;
        text-decoration: none;
      }
    }
  }
}

.k-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0;
  background: #FFFFFF;

  &__title {
    display: block;
    margin: 0 0 30px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #2F3960;
  }

  &__image {
    display: block;
    max-width: 100%;
  }

  &__this {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
    width: 100%;
    max-width: 565px;
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  input {
    display: inline-block;
    width: 100%;
    max-width: 270px;
    margin: 0 0 30px 0;
    padding: 20px 25px;
    border: 1px solid #F4F7FE;
    outline: none;
    background: #F4F7FE;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #2F3960;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: rgba(0, 0, 0, 0.05);
    }

    &:focus {
      border-color: #3ACC6C;
    }
  }

  textarea {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    padding: 20px 25px;
    border: 1px solid #F4F7FE;
    outline: none;
    background: #F4F7FE;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #2F3960;
    transition: all 0.2s ease-out;

    &:hover {
      border-color: rgba(0, 0, 0, 0.05);
    }

    &:focus {
      border-color: #3ACC6C;
    }
  }

  &__button {
    display: inline-block;
    padding: 15px 60px;
    border: 0;
    outline: none;
    background: #3ACC6C;
    box-shadow: 0px 10px 20px rgba(27, 68, 174, 0.22);
    border-radius: 999rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      box-shadow: none;
      background: #26CC5F;
      color: #FFFFFF;
      text-decoration: none;
    }
  }
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);

  /* Black with a little bit see-through */
  form {
    display: flex;
    align-items: stretch;
  }
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .k-header__nav {
    display: none;
  }

  .k-header__social {
    display: none;
  }

  .k-header__toggle {
    display: inline-block;
  }

  .k-header__button {
    display: none;
  }

  .k-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 8;
  }

  .k-home-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 0 20px 0;
    background: #F0F9FF;
  }

  .k-home-main__title {
    width: 100%;
    margin-bottom: 20px;
    font-size: 36px;
    line-height: 28px;
    text-align: center;
  }

  .k-home-main__subtitle {
    width: 100%;
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 19px;
    text-align: center;
  }

  .k-home-main__button {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 12px;
  }

  .k-home-main__more {
    width: 100%;
    margin: 0 0 10px 0;
    padding: 12px;
  }

  .k-home-title {
    margin: 0 0 22px 0;
    font-size: 30px;
    line-height: 23px;
  }

  .k-home-about {
    padding: 50px 0 0 0;
  }

  .k-home-about__card-button {
    width: 100%;
    text-align: center;
  }

  .k-home-about__card-title {
    width: 100%;
    margin: 0 0 16px 0;
    font-size: 18px;
    line-height: 14px;
    text-align: center;
  }

  .k-home-about__card-text {
    width: 100%;
    margin: 0 0 28px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .k-home-about_margin_bottom {
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 30px !important;
    }
  }

  .k-home-about__image {
    margin: 0 auto 20px auto;
  }

  .k-home-about__card-subtitle {
    width: 100%;
    margin: 0 0 26px 0;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
  }

  .k-home-about__card ul {
    width: 100%;
    font-size: 14px;
    line-height: 22px;
  }

  .k-home-about__button {
    display: none;
  }

  .k-home-about_order {
    order: -1;
  }

  .k-home-reviews {
    padding: 50px 0 100px 0;
  }

  .k-home-reviews__cards .slick-dots {
    bottom: -65px;
  }

  .k-home-reviews__card {
    transform: scale(0.8);
    opacity: 0.7;
  }

  .slick-current {
    .k-home-reviews__card {
      transform: scale(1);
      opacity: 1;
    }
  }

  .k-home-blog {
    padding: 50px 0 0 0;
  }

  .k-home-blog__card {
    margin-bottom: 50px;
  }

  .k-home-blog__card-title {
    font-size: 18px;
    line-height: 28px;
  }

  .k-home-blog__card-what {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 9px;
  }

  .k-home-articles {
    padding: 50px 0;
  }

  .k-home-articles__card {
    margin-bottom: 15px;
  }

  .k-home-articles__card-title {
    height: auto;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 31px;
  }

  .k-home-articles__card-text {
    height: 110px;
    font-size: 14px;
    line-height: 22px;
  }

  .k-bottom {
    padding: 50px 0;
  }

  .k-bottom__title {
    margin: 0 0 40px 0;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
  }

  .k-bottom__button {
    justify-content: center;
    width: 100%;
  }

  .k-footer__right {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .k-info {
    text-align: center;

    p {
      width: 100%;

      br {
        display: none;
      }
    }
  }

  .k-info_order {
    order: -1;
  }

  .k-page {
    padding: 120px 0 30px 0;
  }

  .k-breadcrumps {
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 22px;

    a {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .k-page__title {
    margin-bottom: 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
  }

  .k-price__subtitle {
    margin-bottom: 18px;
    font-size: 22px;
    line-height: 17px;
  }

  .k-price p {
    margin-bottom: 47px;
    font-size: 14px;
    line-height: 22px;
  }

  .k-price b,
  .k-price strong {
    font-size: 14px;
    line-height: 22px;
  }

  .k-price ul {
    font-size: 14px;
    line-height: 22px;
  }

  .k-types {
    justify-content: space-around;
  }

  .k-filter {
    margin-bottom: 28px;
    font-size: 14px;
    line-height: 22px;

    li {
      flex: 1 0 auto;

      a {
        margin-right: 30px;
      }
    }
  }

  .k-article__content iframe,
  .k-article__content video {
    max-width: 400px;
    height: 220px;
    margin-bottom: 30px;
  }

  .k-article__content img {
    margin-bottom: 30px;
  }

  .k-article__content h1,
  .k-article__content h2,
  .k-article__content h3,
  .k-article__content h4,
  .k-article__content h5,
  .k-article__content h6 {
    margin-bottom: 10px;
  }

  .k-article__content p {
    margin-bottom: 30px;
  }

  .k-article__content ul {
    padding-bottom: 30px;
  }

  .k-about__content iframe,
  .k-about__content video {
    max-width: 400px;
    height: 220px;
    margin-bottom: 30px;
  }

  .k-about__content img {
    margin-bottom: 30px;
  }

  .k-about__content h1,
  .k-about__content h2,
  .k-about__content h3,
  .k-about__content h4,
  .k-about__content h5,
  .k-about__content h6 {
    margin-bottom: 10px;
  }

  .k-about__content p {
    margin-bottom: 30px;
  }

  .k-about__content ul {
    padding-bottom: 30px;
  }

  .k-reviews {
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .k-smi {
    justify-content: space-around;
    padding-bottom: 20px;
  }

  .k-smi__card-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 26px;
  }

  .k-smi__card-content {
    padding: 20px 15px;
  }

  .k-smi__card-text {
    height: 88px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
  }

  .k-smi__card-link {
    font-size: 18px;
  }

  .k-form {
    padding: 50px 0;
  }

  .k-form input {
    max-width: 100%;
    margin-bottom: 16px;
  }

  .k-form textarea {
    margin-bottom: 16px;
  }

  .k-form__button {
    display: block;
    width: 100%;
  }

  .k-form__image {
    display: none;
  }
}
